<p><%= flash[:notice] %></p>

<main>

<h2>Books</h2>

<table>
	<thead>
		<tr>
			<th width="230">Title</th>
			<th width="230">Body</th>
		</tr>
	</thead>

	<tbody>
		<% @books.each do |book| %>
		<tr>
			<td><%= book.title %></td>
			<td><%= book.body %></td>
			<td>
			<%= link_to 'Show', book_path(book.id) %>
			<%= link_to 'Edit', edit_book_path(book.id), method: :get %>
			<%= link_to 'Destoroy', book_path(book.id), method: :delete, data: {confirm: 'Are you sure？'}%>
		    </td>
		</tr>
		<% end %>
	</tbody>
</table>


<h3>New Book</h3>

<%= form_for(@book, url: '/books') do |f| %>

<% if @book.errors.any? %>
   <div id="error_explanation">
    <h3><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
    <ul>
    	<% @book.errors.full_messages.each do |message| %>
    	<li><%= message %></li>
    	<% end %>
    </ul>
    </div>
  <% end %>

  <div class="title">Title</div>
  <%= f.text_field :title %>

  <div class="title">Body</div>
  <%= f.text_area :body %><br>

  <%= f.submit 'Create Book' %>

  <% end %>

</main>
