<body>
	<main>
　　　<p><%= flash[:notice] %></p>

      <h4>Title: <span><%= @book.title %></span></h4>

      <h4>Body: <span><%= @book.body %></span></h4>

<%= link_to 'edit', edit_book_path(@book) %>
<%= link_to 'Back', 'http://localhost:3000/books/' %>

    </main>
</body>